.lead__image {
  max-width: 984px;
  padding-top: 0;
  margin: 8px auto 0 0;
}

@media screen and (max-width:1279px) and (min-width:1024px) {
  .lead__image {
    max-width: 928px;
    margin: 0;
    padding: 26px 0 0 0;
  }
}

@media screen and (max-width:1023px) and (min-width:768px) {
  .lead__image {
    max-width: 768px;
    padding-top: 28px;
  }
}

@media screen and (max-width:767px) and (min-width:320px) {
  .lead__image {
    max-width: 320px;
    margin: 0;
  }
}
