.cover {
  display: flex;
  background-image: url(../../images/cover-trains.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-self: center;
  max-width: 1184px;
  min-height: 740px;
  margin: 60px 0;
}

@media screen and (max-width:1279px) and (min-width:1024px) {
  .cover {
    max-width: 1024px;
    min-height: 640px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width:1023px) and (min-width:768px) {
  .cover {
    max-width: 768px;
    min-height: 480px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width:767px) and (min-width:320px) {
  .cover {
    max-width: 320px;
    min-height: 200px;
    margin-left: 0;
    margin-right: 0;
  }
}
