.cover__title {
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  color: #FFFFFF;
  max-width: 560px;
  margin: auto;
  padding-top: 245px;
}

@media screen and (max-width:1279px) and (min-width:1024px) {
  .cover__title {
    margin: 0px auto 0px auto;
    padding-top: 196px;
  }
}

@media screen and (max-width:1023px) and (min-width:768px) {
  .cover__title {
    max-width: 560px;
    padding-top: 115px;
  }
}

@media screen and (max-width:767px) and (min-width:320px) {
  .cover__title {
    max-width: 250px;
    font-size: 32px;
    line-height: 35px;
    padding-top: 33px;
  }
}
