.place {
  max-width: 984px;
  margin: 0 auto;
  display: grid;
  position: relative;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-template-areas: "place-title place-web" "place-image place-paragraph";
}

@media screen and (max-width:1279px) and (min-width:1024px) {
  .place {
    max-width: 928px;
    grid-column-gap: 32px;
    grid-row-gap: 40px;
  }
}

@media screen and (max-width:1023px) and (min-width:768px) {
  .place {
    grid-column-gap: 28px;
    max-width: 768px;
  }
}

@media screen and (max-width:767px) and (min-width:320px) {
  .place {
    max-width: 320px;
    grid-column-gap: 32px;
    grid-template-areas: "place-title" "place-web" "place-image" "place-paragraph";
  }
}
